<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1 class="wow slideInDown">Lil' Tron</h1>
    <p class="lead wow slideInDown">We generate lyrics... So you don't have to
    </p>
    <img id="logo" class="wow fadeInDown" src="assets/images/lil-tron.png" alt="I'm Lil' Tron">
  </div>
</header>

<div class="container">
  <div class="row wow fadeIn animated">
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
      <div class="text-center">
      <form class="thing-form">
        <h4 class="text-center wow bounceIn animated">Click the Rhymify Button! <!-- <i class="glyphicon glyphicon"></i> --></h4>
        <!-- <p class="input-group">
          <input type="text" class="form-control" placeholder="Write lyrics... or just 'Rhymify'" ng-model="searchText">
          <span class="input-group-btn">
            <button class="btn btn-success" ng-click="getLyrics()">Rhymify</button> 
          </span>
        </p> -->
        <button style="width:200px" class="btn btn-success wow bounceIn animated" ng-click="getLyrics()">Rhymify</button>
      </form>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
  </div>
  
  <div class="text-center">

   <!-- tutorial/info row -->
  <div ng-show="showTutorial">
    <!-- <h2 class="page-header" ng-model="lyricHeader">{{lyricHeader}}</h2> -->
    
    <div class="row"> <!-- class="col-lg-6 col-md-6 col-sm-6 col-xs-12" -->
      <h4 ><span><img class="tutorial-icon" src="assets/images/booklet.png"></span> Read the Lyrics!</h4>
    </div>
    <div class="row"> <!-- class="col-lg-6 col-md-6 col-sm-6 col-xs-12" -->
      <h4><span><img class="tutorial-icon" src="assets/images/heart.png"></span> Pick <b><i>One</i></b> favorite!</h4>
    </div>
    <div class="row"> <!-- class="col-lg-6 col-md-6 col-sm-6 col-xs-12" -->
      <h4><span><img class="tutorial-icon" src="assets/images/hourglass.png"></span> Repeat til you're <b><i>'tronned out'!</i></b></h4>
    </div>
    
  </div>
  <div ng-show="favorited" id="favorite" class="row">
    <span> <img class="tutorial-icon" src="assets/images/heart.png"> Favorited</span>
  </div>

  <div class="row"></div>
  <!-- Lyric card row(s) -->
  <div class="row wow slideInUp" ng-repeat="lyricCard in lyricCards">

    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="card col-lg-6 col-md-6 col-sm-8 col-xs-10">
      <div class="text-center">
        <p ng-bind-html="lyricCard.lyrics"></p>
      </div>
      <div class="text-center">
        <div class="btn-group" role="group">
          <!-- <button type="button" ng-click="likeLyric(lyricCard)" class="btn btn-default">
            <i class="glyphicon glyphicon-thumbs-up"></i> Like
          </button> -->
          <!-- <button type="button" ng-click="dislikeLyric(lyricCard)" class="btn btn-default">
            <i class="glyphicon glyphicon-thumbs-down"></i> Disklike
          </button> -->
          <button type="button" onclick='$("#favorite").removeClass().addClass("animated bounceIn bounceOut");' ng-click="favoriteLyric(lyricCard)" class="btn btn-info">
            <i class="glyphicon glyphicon-heart"></i> Favorite
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
  </div>
  </div>

  
</div>

<footer class="footer wow fadeInUp">
  <div class="container">
    <p>Lil Tron v0.0.1</p>
    <p><a target="_blank" href="https://twitter.com/niimante">Nii Mante</a> | <a href="https://www.facebook.com/akshay.live?fref=ts">Akshay Shanbhogue</a> | <a href="https://twitter.com/gandhali05">Gandhali Karnik</a></p>
  </div>
</footer>
