.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    background: #617d8b;
}
.center-justified {
  text-align: justify;
  margin: 20px 10px;
  /*width: 30em;*/
}
#logo {
    width:103px;
    height: auto;
    border: 1px solid;
    border-color: #f5f5f5;
    border-radius: 5px;
}
.tutorial-icon {
    width:30px;
    height: auto;
}


.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #D5D5D5;
}

.row + .row {
    border-top:0;
}
.bouncer.ng-enter {
    -webkit-animation: slideInUp 1s;
    -moz-animation: slideInUp 1s;
    -ms-animation: slideInUp 1s;
    animation: slideInUp 1s;
}

.row.card-animation.ng-enter {
    -webkit-animation: slideInRight 1s;
    -moz-animation: slideInRight 1s;
    -ms-animation: slideInRight 1s;
    animation: slideInRight 1s;   
}
/*.tutorial.ng-enter {
    -webkit-animation: slideInUp 1s;
    -moz-animation: slideInUp 1s;
    -ms-animation: slideInUp 1s;
    animation: slideInUp 1s;
}*/
.tutorial-animation.ng-enter {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.tutorial-animation.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.bounceInUpdated {
    -webkit-animation: bounceIn 1s;
    -moz-animation: bounceIn 1s;
    -ms-animation: bounceIn 1s;
    animation: bounceIn 1s;

    /*-webkit-transition-delay: 1s;
    -moz-animation: 1s;
    -ms-animation: 1s;
    transition-delay: 1s;


    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;*/
}
.bounceOutUpdated {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.card-rows.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}
.row.card.card-animation.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}
/*body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #eaeaea;
    background: #2c3e50;
    background: #383838;
    background: #f5f5f5;
}*/
/*div.row*/
.card {
    text-align: justify;
    margin: 5px;
    padding: 5px 25px 5px;
    border-radius: 5px;
    background-color: #fdfdfd;
    /*box-shadow: 1px 1px 3px #999;*/
    

    /*Use this to fill create effect of hover */
    /*&:hover {
        box-shadow: 1px 1px 3px #333;
    }*/
}
/*.card p {
    font-size: 16px;
}*/

