<section data-ng-controller="ArtistsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Artists</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="artist in artists" data-ng-href="#!/artists/{{artist._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="artist.created | date:'medium'"></span>
				by
				<span data-ng-bind="artist.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="artist.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!artists.$resolved || artists.length">
    	No Artists yet, why don't you <a href="/#!/artists/create">create one</a>?
    </div>
</section>